@model List<Contact>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>email</th>
                                        <th>subject</th>
                                        <th>message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Subject</td>
                                            <td>@item.Message</td>
                                            <td style="color:black">
                                                <a asp-area="admin" asp-controller="contact" asp-action="delete" asp-route-id="@item.Id">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
